<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>J2D</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><a href=“https://j3ffjessie.github.io”>J2 Developer Journey</a></p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT ME</a></li>
          <li id="contact"><a href="/contact">CONTACT ME</a></li>
        </ul>
    </div>
  </nav>
<div class="page">
  <body>
    <div class="container">
</div>